

.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* header */
.header{
    background-image: url('../images/developer.png'), url('../Images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
    background-color: #FFF8F3;
}

  /* shared styles */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

/* shared button */
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;

}

  /* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;

}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0 230px ;
}
.banner-content{
    max-width: 585px;
    margin-top: 60px;
}
.banner-greatings{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 80px;
    font-weight: bold;
    color: #181818;
    margin:0 0 0 0;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
}
.hardy-pic{
    height: 676px;
}
#download-cv{
    margin-top: 25px;
}
#Contact{
    margin-top: 25px;
    margin-left: 20px;
    background-color: aliceblue;
    border: 3px solid #FD6E0A;
    color: #FD6E0A;
}

/* section styles */
.section-about{
    margin: 210px 200px;
    /* padding: 1px 1px; */
    background-color: #FFF8F3;
    border: 1px solid #FFF8F3 ;
}
.about{
    margin: 100px 100px;
    text-align: center;
    max-width: 1140px;
    /* background-color: #312218; */
    /* padding: 10px 10px ; */
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    margin-top: 138px;
}
.section-discription{
    font-size: 18px;
    color: #757575;
}
.about-details{
    display: flex;
    justify-content: space-around;
}

/*skills section*/

.section-title{
    text-align: center;
}
.section-discription-skill{
    text-align: center;
    margin: 0 300px 0 300px;
    color: #757575;
}
.skills{
    align-items: center;
    
}
.skill-container{
    display: flex;
    margin: 30px 150px 20px 150px;
}
.skill{
    border-radius: 8px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.11);
    margin: 20px;
    padding: 30px;
}
.skills-discription{
    color:#757575;
}
