

.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* header */
.header{
    background-image: url('../images/developer.png'), url('../Images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
    background-color: #FFF8F3;
}

  /* shared styles */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

/* shared button */
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;

}

  /* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;

}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0 230px ;
}
.banner-content{
    max-width: 585px;
    margin-top: 60px;
}
.banner-greatings{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 80px;
    font-weight: bold;
    color: #181818;
    margin:0 0 0 0;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
}
.hardy-pic{
    height: 676px;
}
#download-cv{
    margin-top: 25px;
}
#Contact{
    margin-top: 25px;
    margin-left: 20px;
    background-color: aliceblue;
    border: 3px solid #FD6E0A;
    color: #FD6E0A;
}

/* section styles */
.section-about{
    margin: 210px 200px;
    /* padding: 1px 1px; */
    background-color: #FFF8F3;
    border: 1px solid #FFF8F3 ;
}
.about{
    margin: 100px 100px;
    text-align: center;
    max-width: 1140px;
    /* background-color: #312218; */
    /* padding: 10px 10px ; */
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    margin-top: 138px;
}
.section-discription{
    font-size: 18px;
    color: #757575;
}
.about-details{
    display: flex;
    justify-content: space-around;
}

/*skills section*/

.section-title{
    text-align: center;
}
.section-discription-skill{
    text-align: center;
    margin: 0 300px 0 300px;
    color: #757575;
}
.skills{
    align-items: center;
    
}
.skill-container{
    display: flex;
    margin: 30px 150px 20px 150px;
}
.skill{
    border-radius: 8px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.11);
    margin: 20px;
    padding: 30px;
}
.skills-discription{
    color:#757575;
}

/* Resume styles */
.resume-container{
    display: flex;
    margin: 20px 230px;
    gap: 70px;
    padding: 20px;
}
.column-title{
    font-size: 30px;
    font-weight: bold;
}
.experience h4 {
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}
.experience h5{
    color:#474747;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.experience p {
    font-size: 16px;
    color: #757575;
}
.resume .btn-center{
    text-align: center;
    margin-bottom: 50px;
}


footer{
    background-color: #FFF8F3;
    padding: 130px 230px;
    display: flex;
    gap: 100px;

}
.footer-column{
    width: 50%;
}

footer input[type="text"], input[type="email"]{
    height: 60px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    color: #FD6E0A;

}
footer textarea{
    border: none;
    font-size: 18px;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 20px;
    color: #FD6E0A;

}

footer .note{
    margin-bottom: 30px;
    text-align: justify;
}

footer .icon a{
    margin: 10px 10px 10px 10px;
}



@media screen and (max-width:576px) {
    .skill-container, footer{
        flex-direction: column;
    }
    footer{
        padding: 20px;
        gap: 20px;

        margin: 0 auto;
        
    }
    .footer-column{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
    .section-title{
        margin-top: 50px;
    }
    .icon{
        padding-bottom: 30px;
    }
    footer textarea{
        border: none;
        font-size: 18px;
        width: calc(100% - 40px);
        margin-bottom: 30px;
        padding: 20px 20px;
        color: #FD6E0A;
    
    }
    footer input[type="text"], input[type="email"]{
        height: 40px;
        border-radius: 5px;
        background-color: white;
        display: block;
        width: calc(100% - 40px);
        padding: 10px 20px;
        margin-bottom: 15px;
        border: none;
        color: #FD6E0A;
    
    }
    .btn-primary{
        background-color: #FD6E0A;
        font-size: 18px;
        color: white;
        font-weight: bold;
        padding: 13px 25px;
        border: none;
        border-radius: 5px;
    
    }
    .section-about{
        margin: 0 auto;
        padding: 20px;
        /* padding: 1px 1px; */
        background-color: #FFF8F3;
        border: 1px solid #FFF8F3 ;
    }
    .about{
        margin: 0 auto;
        text-align: justify;
        max-width: 1140px;
        /* background-color: #312218; */
        /* padding: 10px 10px ; */
    }
    .about-details{
        flex-direction: column;
        text-align: center;
    }
    
}